<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ElementoMapper">
    <insert parameterType="map" id="registerElemento" > 
        INSERT INTO Elementos (tipelement, marca, descripcion, disponible)
            VALUES (#{elem.tipelement},#{elem.marca},#{elem.descripcion},#{elem.disponible})
    </insert>

   <insert id="registerElementoConId" parameterType="map">
       INSERT INTO Elementos (idElemento,tipelement, marca, descripcion, disponible)
            VALUES (#{elem.idElemento},#{elem.tipelement},#{elem.marca},#{elem.descripcion},#{elem.disponible})
   </insert>

    <select id="consultElemento" resultMap="ElementoResult">
        SELECT idElemento,eqps,tipelement,marca,Descripcion,disponible FROM Elementos
          WHERE idElemento=#{eid}
    </select>

    <select id="consultarElementosDisponibles" resultType="Elemento">
        SELECT idElemento,tipelement,marca,descripcion FROM elementos
          WHERE disponible = true
    </select>

   <resultMap id="ElementoResult" type="Elemento">
       <id property="idElemento" column="idElemento"/>
       <result property="equipoAsociado" column="eqps"/>
       <result property="tipelement" column="tipelement"/>
       <result property="marca" column="marca"/>
       <result property="descripcion" column="Descripcion"/>
       <result property="disponible" column="disponible"/>
   </resultMap>

</mapper>