<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ElementoMapper">
    <insert parameterType="map" id="registerElemento" > 
        INSERT INTO Elementos (tipelement, marca, descripcion, disponible, de_baja)
            VALUES (#{elem.tipelement},#{elem.marca},#{elem.descripcion},#{elem.disponible}, false)
    </insert>

   <insert id="registerElementoConId" parameterType="map">
       INSERT INTO Elementos (idElemento,tipelement, marca, descripcion, disponible)
            VALUES (#{elem.idElemento},#{elem.tipelement},#{elem.marca},#{elem.descripcion},#{elem.disponible})
   </insert>

    <select id="consultElemento" resultMap="ElementoResult">
        SELECT idElemento,eqps,tipelement,marca,Descripcion,disponible,de_baja FROM Elementos
          WHERE idElemento=#{eid}
    </select>

    <select id="consultarElementosDisponibles" resultType="Elemento">
        SELECT idElemento,tipelement,marca,descripcion FROM elementos
          WHERE disponible = true
    </select>

    <select id="consultarElementos" resultType="Elemento">
        SELECT idElemento,eqps,tipelement,marca,descripcion FROM elementos
    </select>

    <select id="consultarTorresDisponibles" resultType="Elemento">
        SELECT idElemento,tipelement,marca,descripcion FROM elementos
            WHERE disponible=true AND tipelement = 'TORRE';
    </select>

    <select id="consultarPantallasDisponibles" resultType="Elemento">
        SELECT idElemento,tipelement,marca,descripcion FROM elementos
            WHERE disponible=true AND tipelement = 'PANTALLA';
    </select>

    <select id="consultarTecladosDisponibles" resultType="Elemento">
        SELECT idElemento,tipelement,marca,descripcion FROM elementos
            WHERE disponible=true AND tipelement = 'TECLADO';
    </select>

    <select id="consultarMousesDisponibles" resultType="Elemento">
        SELECT idElemento,tipelement,marca,descripcion FROM elementos
            WHERE disponible=true AND tipelement = 'MOUSE';
    </select>

    <select id="getMaxId" resultType="int">
        SELECT Max(idElemento) FROM elementos
    </select>
    
    <update id = "setDarDeBaja">
        UPDATE Elementos set 
            de_baja = true
        where eqps is null and idElemento = #{eid}  
    </update>

    <select id="consultarElementosNoAsociados" resultMap="ElementoResult">
        SELECT idElemento,eqps,tipelement,marca,Descripcion,disponible,de_baja FROM Elementos
         WHERE eqps IS null and not de_baja ;
    </select>

    <select id="consultarElementosDadosDeBaja" resultMap="ElementoResult">
        SELECT idElemento,eqps,tipelement,marca,Descripcion,disponible,de_baja FROM Elementos
            WHERE de_baja
    </select>

   <resultMap id="ElementoResult" type="Elemento">
       <id property="idElemento" column="idElemento"/>
       <result property="equipoAsociado" column="eqps"/>
       <result property="tipelement" column="tipelement"/>
       <result property="marca" column="marca"/>
       <result property="descripcion" column="Descripcion"/>
       <result property="disponible" column="disponible"/>
       <result property="de_baja" column="de_baja"/>
   </resultMap>

</mapper>