<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper">
    <insert parameterType="map" id="registrarEquipo" > 
        INSERT INTO Equipos (Novedades,disponible)
            VALUES ('Equipo nuevo',#{equipo.disponible})
    </insert>

    <update id="eliminarAsociacion" parameterType="map">
        UPDATE Elementos
          SET eqps = NULL , disponible = TRUE
        WHERE eqps=#{idEqui} AND (SELECT tipelement FROM Elementos WHERE idElemento=#{idElem}) = tipelement
    </update>

    <update id="asociarElemento" parameterType="map">
        UPDATE Elementos
          SET eqps = #{idEqui}, disponible = FALSE
          WHERE idElemento = #{idElem}
    </update>

    <select id="consultarEquipos" resultType="Equipo">
        SELECT idEquipo FROM equipos
    </select>

    <select id="consultarEquipo" resultType="Equipo">
        SELECT idEquipo,Novedades,Disponible FROM equipos
          WHERE  idEquipo = #{idEqui}
    </select>
</mapper>
