<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper">
    <insert parameterType="map" id="registrarEquipo" > 
        INSERT INTO Equipos (Novedades,disponible)
            VALUES ('Equipo nuevo',#{equipo.disponible})
    </insert>

    <update id="eliminarAsociacion" parameterType="map">
        UPDATE Elementos
          SET eqps = NULL , disponible = TRUE
        WHERE eqps=#{idEqui} AND (SELECT tipelement FROM Elementos WHERE idElemento=#{idElem}) = tipelement
    </update>

    <update id="asociarElemento" parameterType="map">
        UPDATE Elementos
          SET eqps = #{idEqui}, disponible = FALSE
          WHERE idElemento = #{idElem}
    </update>

    <select id="consultarEquipos" resultMap="EquipoResult">
        select idequipo,torremarca, torredesc,pantallamarca, pantalladesc,tecladomarca, tecladodesc, mousemarca, mousedesc
        from (select idequipo, marca as torremarca, descripcion as torredesc
                from elementos join equipos on idequipo=eqps
                where tipelement='TORRE') as ttorre
            join
            (select idequipo, marca as pantallamarca, descripcion as pantalladesc
                from elementos join equipos on idequipo=eqps
                where tipelement='PANTALLA') as ppantalla using (idequipo)
            join
            (select idequipo, marca as tecladomarca, descripcion as tecladodesc
                from elementos join equipos on idequipo=eqps
                where tipelement='TECLADO') as tteclado using (idequipo)
            join
            (select idequipo, marca as mousemarca, descripcion as mousedesc
                from elementos join equipos on idequipo=eqps
                where tipelement='MOUSE') as mmouse using (idequipo)
    </select>

    <resultMap id="EquipoResult" type="Equipo">
        <id property="idEquipo" column="idequipo"/>
        <result property="torre.descripcion" column="torredesc"/>
        <result property="torre.marca" column="torremarca"/>

        <result property="pantalla.marca" column="pantallamarca"/>
        <result property="pantalla.descripcion" column="pantalladesc"/>

        <result property="teclado.marca" column="tecladomarca"/>
        <result property="teclado.descripcion" column="tecladodesc"/>

        <result property="mouse.marca" column="mousemarca"/>
        <result property="mouse.descripcion" column="mousedesc"/>

    </resultMap>

    <select id="consultarEquipo" resultType="Equipo">
        SELECT idEquipo,Novedades,Disponible FROM equipos
          WHERE  idEquipo = #{idEqui}
    </select>

   <select id="getMaxId" resultType="int">
       SELECT MAX(idEquipo) FROM equipos
   </select>
</mapper>
