<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.LaboratorioMapper">
    
   <resultMap id="LaboratorioResult" type="Laboratorio">
       <id property="idLab" column="idLab"/>
       <result property="nombre" column="nombre"/>
       <result property="usuario" column="usuario"/>
       <result property="descripcion" column="descripcion"/>
   </resultMap>
   
    <insert parameterType="map" id="registrarLaboratorio" > 
        INSERT INTO Laboratorios ( nombre, usuario, descripcion)
            VALUES ( #{laboratorio.nombre}, #{laboratorio.usuario}, #{laboratorio.descripcion})
    </insert>
    
    <select id="consultarLaboratorio" resultType="Laboratorio">
        SELECT nombre, usuario, descripcion    
        FROM Laboratorios
        WHERE  idLab = #{idLab}
    </select>

    <select id="getMaxIdLaboratorio" resultType="int">
        SELECT MAX(idLab) FROM laboratorios
    </select>

    <update id="asociarEquipoConLaboratorio">
        UPDATE Equipos
            SET labs = #{idLab}, disponible = FALSE
            WHERE idEquipo = #{idEquipo}
    </update>

    <select id="consultarLaboratorios" resultType="Laboratorio">
        SELECT idLab, nombre, usuario, descripcion
        FROM Laboratorios
    </select>
    
    <select id="consultarLaboratoriosAbiertos" resultType="Laboratorio">
        SELECT idLab, nombre, usuario, descripcion
        FROM Laboratorios
        WHERE de_baja = false
    </select>
    
    <select id="consultarLaboratoriosCerrados" resultType="Laboratorio">
        SELECT idLab, nombre, usuario, descripcion
        FROM Laboratorios
        WHERE de_baja = true
    </select>

    <select id="consultarEquiposDeLaboratorio" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper.EquipoResult">
        select idequipo,labs,torreid,torremarca, torredesc,pantallaid,pantallamarca, pantalladesc,tecladoid,tecladomarca, tecladodesc,mouseid ,mousemarca, mousedesc, de_baja
        from (select idequipo,idelemento as torreid, marca as torremarca, descripcion as torredesc, equipos.de_baja as de_baja,labs
                from elementos join equipos on idequipo=eqps
                where tipelement='TORRE') as ttorre
            join
            (select idequipo,idelemento as pantallaid, marca as pantallamarca, descripcion as pantalladesc
                from elementos join equipos on idequipo=eqps
                where tipelement='PANTALLA') as ppantalla using (idequipo)
            join
            (select idequipo, idelemento as tecladoid,marca as tecladomarca, descripcion as tecladodesc
                from elementos join equipos on idequipo=eqps
                where tipelement='TECLADO') as tteclado using (idequipo)
            join
            (select idequipo,idelemento as mouseid ,marca as mousemarca, descripcion as mousedesc
                from elementos join equipos on idequipo=eqps
                where tipelement='MOUSE') as mmouse using (idequipo)
                where labs = #{idLab}
    </select>

</mapper>