<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.NovedadMapper">
    
   <resultMap id="NovedadResult" type="Novedad">
       <id property="idNovedad" column="idNovedad"/>
       <result property="equipoAsociado" column="equipoAsociado"/>
       <result property="elementoAsociado" column="elementoAsociado"/>
       <result property="fecha" column="fecha"/>
       <result property="titulo" column="titulo"/>
       <result property="usuario" column="responsable"/>
       <result property="detalle" column="detalle"/>
   </resultMap>
   
    <insert parameterType="map" id="registrarNovedad" > 
        INSERT INTO Novedad (equipoAsociado, elementoAsociado, fecha, titulo, responsable, detalle )
            VALUES (#{novedad.equipoAsociado}, #{novedad.elementoAsociado}, #{novedad.fecha}, #{novedad.titulo}, #{novedad.responsable}, #{novedad.detalle})
    </insert>
    
    <select id="consultarNovedadId" resultType="Novedad">
        SELECT elementoAsociado, equipoAsociado, fecha, titulo, responsable, detalle
        FROM Novedad
        WHERE  idNovedad = #{idNovedad}
    </select>
    
    <select id="consultarNovedadEquipo" resultType="Novedad">
        SELECT  idNovedad, elementoAsociado, fecha, titulo, responsable, detalle    
        FROM Novedad
        WHERE  equipoAsociado = #{idEquipo}
    </select>
    
    <select id="consultarNovedadElementoEquipo" resultType="Novedad">
        SELECT  idNovedad, fecha, titulo, responsable, detalle    
        FROM Novedad
        WHERE  elementoAsociado = #{idElemento}  AND equipoAsociado = #{idEquipo}
    </select>

    <select id="consultarNovedades" resultType="Novedad">
        SELECT elementoAsociado, equipoAsociado, fecha, titulo, responsable, detalle
        FROM Novedad
    </select>

</mapper>
